name: Deploy to HostGator

on:
  push:
    branches:
      - main

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v3

      - name: Setup Node.js
        uses: actions/setup-node@v3
        with:
          node-version: '18'

      - name: Install and Build Frontend
        run: |
          cd web
          npm install
          npm run build
          cp .htaccess dist/

      - name: Prepare Deployment Directory
        run: |
          mkdir -p deploy_dir
          cp -a web/dist/. deploy_dir/
          cp -r api deploy_dir/
          # No subir archivos sensibles ni innecesarios
          rm -rf deploy_dir/api/config/db.php
          rm -rf deploy_dir/api/database

      - name: Deploy to HostGator
        uses: SamKirkland/FTP-Deploy-Action@v4.3.4
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          local-dir: ./deploy_dir/
          server-dir: ./public_html/caja/
